body{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    height: 2000px;
    font-family: sans-serif;
}
.number-container{
    border: 1px solid #000;
    padding: 40px;
    margin: 5px;
    font-size: 30px;
}